.section-contactme {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 60px 0 80px 0;
}

.title-contactme {
  color: #2c3e50;
  text-transform: uppercase;
  font-size: 2.1875rem;
}

.title-input {
  color: #828385;
  font-size: 1.0625rem;
  margin: 10px 0px 0px 0px;
  margin-bottom: 20px;
}

.all-input {
  margin: 40px 0px 0px 0px;
}

.all-input .input,
.input-message {
  height: 25px;
  width: 100%;

  border: 0;
  border-bottom: 1px solid #f5f4f6;
  margin-bottom: 25px;
}

.input-message {
  height: 120px;
}

.button-send {
  background-color: #d40a44;
  color: #ffffff;
  border: 2px solid #d40a44;

  border-radius: 10%;
  text-decoration: none;

  padding: 13px 23px 13px 23px;
  cursor: pointer;
}

.button-send:hover {
  background-color: #ffffff;
  color: #d40a44;
  border: 2px solid #d40a44;
  font-weight: bold;
}

@media (max-width: 599px) {
  .all-input .input,
  .input-message {
    width: 100%;
    margin-bottom: 5px;
  }

  .title-input {
    text-align: center;
  }
}
