@font-face{
  font-family: SiteFont;
  src: url(QuickSand_bold.otf);
  
}
*{
  font-family: SiteFont;
  padding: 0;
  margin:0;
}
.img{
  float: left;
  padding-left: 20px;
  margin-top: -20px;
  margin-right: 50px;
}

a{
  text-decoration: none;
  color: white;
  font-size: large;
}

.menu{
  margin: -8px -8px 0px -8px;
  padding: 40px 10px 55px 10px;
  background-color: #2C3E50;
  color: black;
  }


  
  .menu-itens{
    float: right;
    position: fixed; 
    top: 0; 
    width: 100%; 
    margin-top: 33px;
    margin-left: 80%;
  } 

  .menu-itens a{
    margin: 7px;
    padding: 5px;
    border-style: solid;
    border-color: white;
    -webkit-transition-duration: 0.7s;
  }

  .menu-itens a:hover{
    border-color: black;
    background: white;
    color: black;
    /* transition: 0.7s;  */
  }

.content{
  padding-top: 80px;
  text-align: center;
}
