.portfolio {
    margin:3% 25% 0%;
    }

.portfolio .images {
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 7%;
}


.images img {
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    height: 180px;
}

.portfolio-title {
    display: flex;
    justify-content: center;
}
