

.gallery {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: inline-flex;
    align-content: center;
    flex-direction: column;
}
.shoreline-box {

    display: flex;
    align-items: center;
    padding-left: 30%;
}
.conteudo {
    border-left: 0.6rem solid #64a19d;
    padding-left: 2.5% ;
}
.floresta {
    width: 700px;
    max-width: 100%;
}

.text-image-box1 {
    display: inline-flex;
    padding-top: 100px;
    align-items: center;
    padding-left: 450px;
}
.box2 {
    display: inline-flex;
    padding-top: 100px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 450px;
}
.conteudo1 {
    background-color: #161616;
    color: whitesmoke;
    height: 300px;
    width: 500px;
    padding-left: 25px;
    padding-top: 1.25rem;
}
.conteudo2 {
    background-color: #161616;
    color: whitesmoke;
    height: 300px;
    width: 500px;
    padding-left: 50px;
    padding-top: 1.25rem;
}
.conteudo2 h4 {
    padding-left: 320px;
}
.montanha1 {
    height: 300px;
    width: 500px;
    vertical-align: middle;
    max-width: 100%;  
}
.galery-section {
    display: flex;
    justify-content: center;
    
    
}


.first-image {
    width: 40%;
}

.teste {
    border-style: solid; 
}
